In [23]:
from MySQLdb import _mysql

In [46]:
db = _mysql.connect(host="192.168.1.6", port=3306, user="user", passwd="user", db="test")
db.query("select * from kelas")
store = db.store_result()
store.fetch_row()

((b'Roe', b'1-A', b'10', b'edan'),)

In [55]:
import MySQLdb
connection = MySQLdb.connect(host = '192.168.1.6', user = 'user', passwd = 'user')
cursor = connection.cursor()
cursor.execute("USE test")
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
tables

(('kelas',),)