In [16]:
import pandas as pd

In [5]:
from MySQLdb import _mysql
db = _mysql.connect(host="192.168.1.6", port=3306, user="user", passwd="user", db="test")
db.query("select * from kelas")
store = db.store_result()
store.fetch_row()

((b'Roe', b'1-A', b'10', b'edan'),)

In [8]:
import MySQLdb
connection = MySQLdb.connect(host = '192.168.1.6', user = 'user', passwd = 'user')
cursor = connection.cursor()
cursor.execute("USE test")
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
tables

ProgrammingError: execute() first

In [15]:
connection = MySQLdb.connect(host = '192.168.1.6', user = 'user', passwd = 'user')
cursor = connection.cursor()
cursor.execute("USE test")
cursor.execute("select * from kelas")
cursor.fetchall()

(('Roe', '1-A', 10, 'edan'), ('joe', '1-B', 23, 'Hmm'))

In [18]:
df = pd.read_sql_query("SELECT * FROM kelas", connection)
df.tail(10)

  nama kelas  jumlah keterangan
0  Roe   1-A      10       edan
1  joe   1-B      23        Hmm