In [23]:
from MySQLdb import _mysql

In [29]:
db = _mysql.connect(host="localhost", port=3306, user="user", passwd="user", db="test")
db = db.query("select * from kelas")
db

OperationalError: (2002, "Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)")